.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    margin-right: 18px;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    border-bottom: 1px solid white;
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 32px;
    }
    .footer__link:last-child {
        margin-bottom: 48px;
    }
}